bcrypt==3.1.1
-e git+https://github.com/Biblicity/biblicity_net.git@a92541dedf302fceddcd6ac3a1b2cc6484d0ee3a#egg=biblicity_net
bl==0.21.0
bleach==1.4.3
bsql==0.9.1
bweb==0.6.0
cffi==1.8.3
html5lib==0.9999999
Markdown==2.6.7
passlib==1.6.5
psycopg2==2.6.2
pycparser==2.16
six==1.10.0
tornado==4.4.2
