
html {
	font-size: 140%;
	font-family: "chaparral-pro", sans-serif;
}

body {
	text-align: center;
}

div#body {
	margin: 0 auto;
	padding: 1em;
	text-align: left;
	max-width: 800px;
/*	border-radius: 1em;
	background-color: #fff;*/
}

div#head {
	/*padding-top: 50px;*/
    font-size: .9rem;
    border-bottom: 1px solid #999;
}

div#logo {
    max-width: 400px;
}

img {
	max-width: 100%;
}

div#top_nav {
	float: right;
}

div#main_nav {
	clear: both;
	font-size: .9rem;
	font-family: "chaparral-pro", sans-serif;
}

div#sub_nav {
	clear: both;
	font-size: .9rem;
	font-family: "chaparral-pro", sans-serif;
	font-style: italic;
	margin-left: .9rem;	
}

div#main {
    padding: 1em 0;
    line-height: 1.5rem;
}

div#footer {
	clear: both;
    margin-top: 2rem;
    border-top: 1px solid #999;
    padding-top: 0.5rem;
	font-size: .75rem;
}

h1, h2, h3, h4 {
	margin: 1.0rem 0 .5rem 0;
	font-family: "chaparral-pro", sans-serif;
	font-weight: normal;
}

h1 { font-size: 2.0rem; }
h2 { font-size: 1.25rem; }
h3 { font-size: 1.1rem; font-style: italic; }

p {
	margin: .25rem 0 .5rem 0;
}

a, a:link, a:visited {
	color: green;
	text-decoration: none;
}

.notice {
	padding: 0 .25em;
	color: green;
	border: 1px dotted green;
}

.warning {
	padding: 0 .25em;
	color: brown;
	background-color: yellow;
	border: 1px dotted brown;
}

.error {
	padding: 0 .25em;
	color: red;
	border: 1px dotted red;
}

.float-right {
	float: right;
	margin-left: 1rem;
}
.float-left {
	float: left;
	margin-right: 1rem;
}

.left {
	text-align: left;
}
.right {
	text-align: right;
}
.caps-small {
	font-size: 75%;
}

.label {
	font-size: .8rem;
	font-weight: 600;
	font-family: "chaparral-pro-n6", "chaparral-pro", sans-serif;
}

.label-light {
    font-size: .8rem;
    font-weight: normal;
    font-family: "chaparral-pro", sans-serif;
}

.link {
	color: green;
}

a.editing_icon,
span.editing_icon {
	vertical-align: middle;
	border: 1px solid green;
	border-radius: .5rem;
	padding: .2rem;
	margin: .25rem .25rem .25rem 0;
	font-size: 1.0rem;
}

a.editing_icon:hover {
	background-color: green;
	color: #fff;
}

b, strong, .bold {
	font-family: "chaparral-pro-n6", "chaparral-pro", sans-serif;
	font-weight: 600;
}

.italic {
	font-style: italic;
}

form {
	max-width: 100%;
}

form input[type="text"],
form input[type="password"] {
	height: 2rem;
	max-width: 25rem;
	padding: 0 0.5em ;
	font-size: 1.25rem;
}

form textarea {
	font-size: 1.25rem;
}

form input[type="submit"] {
	width: auto;
	height: auto;
	/*font-size: 2em;*/
	font-family: "chaparral-pro-n6", "chaparral-pro", sans-serif;
	font-size: 1.25rem;
	padding: .5em;
	background-color: green;
	color: #ffffff;
	border-radius: 1rem;
	border: 0;
	-webkit-appearance: button;
}

form input[type="checkbox"] {
	width: auto;
	/*font-size: 2em;*/
	padding: 0.5em 0;
	vertical-align: center;
}

form input.notice {
	border: 1px solid green !important;
}

form input.warning {
	border: 1px solid brown !important;
}

form input.error {
	border: 1px solid red !important;
}

td {
	/*vertical-align: top;*/
	padding: 2px 10px 2px 0px;
}

.listing {
	margin-top: 3rem;
	border-top: 1px solid #999;
	font-family: "chaparral-pro", sans-serif;
	font-size: .75rem;
	line-height: 1.0;
}

.byline {
	margin-bottom: 1em;
	font-family: "chaparral-pro", sans-serif;
	font-size: .9rem;
	font-style: italic;
}

.two-col { max-width: 45%; }
.three-col { max-width: 30%; }
.four-col { max-width: 20%; }
