{% extends "email.html" %}

{% block stylesheets %}
		<style type="text/css">
{% set version_css_fn = c.config.Module.path+'/static/css/textapis/%s.css' % version %}
{% raw open(version_css_fn, 'rb').read().decode('utf-8') %}
		</style>
{% end %}

{% block main %}
	{% set date = c.datetime.now().strftime("%B %d").replace(" 0", " ") %}
	{% set versions = ['ESV', 'NLT', 'NLTUK', 'NTV', 'KJV'] %}
	<h1><a href="{{c.config.Site.url}}/reading-plans/2017-reading-plan#{{date.replace(' ', '-')}}">{{date}}</a></h1>
	{% set fn = c.config.Module.path+"/templates/today-2017/%s.html" % version %}
	{% raw open(fn, 'rb').read().decode('utf-8') %}
{% end block %}
